<html lang="zh-cn">
<head>
    <meta charset="utf-8"/>
    <!--强制禁止缩放-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>小龙小窝</title>
    <meta name="description
    " content="欢迎来到小龙小窝，这里是一个普通的个人主页。">
    <meta name="keywords" content="个人博客, 经验分享, 技术教程, APP使用">
    <link rel="stylesheet" href="css/index.css"/>
</head>
<body>
<div class="nav">
    <!--菜单侧边栏-->
    <div class="tool-bar-left">
        <!--顶栏-->
        <span class="left-side">
            <!--关闭按钮-->
            <button type="button" class="simple-button close-button">&#10006;</button>
            <!--固定按钮-->
            <button type="button" class="simple-button fixed-button"><img src="image/show/lock.svg" alt="锁"></button>
        </span>
        <ul>
            <li class="menu_list"><img class="stand-icon" src="image/normal/project.svg" alt="项目">项目</li>
        </ul>
    </div>
    <div id="tool-bar">
        <div class="js-simple-toast tool-bar-items tool-bar-menu"
             toast_text="菜单">
            <img src="image/show/menu.svg" alt="菜单"/>
        </div>
        <div class="tool-bar-center">
            <img class="logo" src="image/show/logo.svg" alt="小龙小窝"/>
            <span class="logo-text">小龙小窝</span>
        </div>
    </div>
</div>
<div class="content">
    <div class="index-page">
        <span id="introduce_me">
            <span class="index-avatar">
                <img src="image/show/index_avatar.svg" alt="小龙小窝"/>
                <span>DragonRen<br/>的个人主页</span>
            </span>
            <span class="index-time">
                <span class="index-time-show"></span>
                <span class="one-word js-simple-toast"
                      toast_text="不是我说的">
                    <span class="one-word-content"></span>
                    <span class="one-word-author"></span>
                </span>
            </span>
        </span>
    </div>
    <div class="about-me">
        <span class="title-contact">关于我</span>
        <div class="tags-container">
            <tag>垃圾</tag>
            <tag>宅男</tag>
            <tag><span class="pink js-simple-toast" toast_text="笨蛋！这，这真的不是我说的啦-啦......">卡哇伊</span><span
                    class="text-deleted">（不是呀!!!)</span></tag>
            <tag>开源热爱者</tag>
            <tag>内向</tag>
            <tag>ACG</tag>
        </div>
        <span class="point-list">我滴学校</span>
        <div class="describe-school">
            <div class="describe-school-text">
                <tag class="yellow">邓州市第一高级中学</tag>
                <br/><br/>
                <dt>&nbsp;&nbsp;
                    <div class="describe-text">
                        NO.1 Middle School of Deng Zhou<br/>
                    </div>
                    简称邓州一高<br/>
                </dt>
                <dt>是河南省示范性高中，位于河南省邓州市。</dt>
                <span class="link-box">
                        <img src="image/show/link.svg" alt="链接">
                        <a href="school.html">了解更多</a>
                    </span>
            </div>
            <img class="school-brand" src="image/show/school_icon.png" alt="校徽"/>
        </div>
    </div>
    <span class="contact-method">
        <span class="title-contact">我的联系方式</span>
        <span class="flex-box">
            <a href="mailto:dragonren@dragonren.top" class="contact-method-item-left">
                <span class="contact-label">
                    <img class="stand-icon left" src="image/normal/email.svg" alt="email">邮箱
                </span>
                <span class="green-line"></span>
                <span class="describe-text">dragonren@dragonren.top&dragonrens@outlook.com</span>
            </a>
        <a href="https://github.com/DragonRenpro" class="contact-method-item-left">
            <span class="contact-label">
                <img class="stand-icon left" src="image/normal/github.svg" alt="email">Github
            </span>
            <span class="green-line"></span>
            <span class="describe-text">dragonrenpro</span>
        </a>
        <a href="tel:13333684580" class="contact-method-item-left">
            <span class="contact-label">
                <img class="stand-icon left" src="image/normal/phone.svg" alt="email">电话
            </span>
            <span class="green-line"></span>
            <span class="describe-text">(+86)13333684580</span>
        </a>
        <a href="https://qm.qq.com/q/sjvHLOPV98" class="contact-method-item-left">
            <span class="contact-label">
                <img class="stand-icon left" src="image/normal/qq.svg" alt="email">QQ
            </span>
            <span class="green-line"></span>
            <span class="describe-text">3489056763</span>
        </a>
        <span class="contact-method-item-left">
            <span class="contact-label">
                <img class="stand-icon left" src="image/normal/telegram.svg" alt="email">Telegram
            </span>
            <span class="green-line"></span>
            <span class="describe-text">(+86)13333684580</span>
        </span>
        <span class="contact-method-item-left">
            <span class="contact-label">
                <img class="stand-icon left" src="image/normal/dingtalk.svg" alt="email">钉钉
            </span>
            <span class="green-line"></span>
            <span class="describe-text">(+86)117815616629</span>
        </span>
            <span class="contact-method-item-left">
            <span class="contact-label">
                <img class="stand-icon left" src="image/normal/more.svg" alt="email">要来更多吗
            </span>
            <span class="green-line"></span>
            <span class="describe-text">这里没有了OvO......</span>
        </span>
        </span>
    </span>
</div>

<div class="footer">
    <a class="js-simple-toast" toast_text="点击进入公安备案网<br/>"
       href="https://beian.miit.gov.cn/~/#/Integrated/recordQuery">
        豫ICP备2023022865<br/>
    </a>
    Copyright © 2023-2023 小龙小窝 All Rights Reserved.
</div>
<script src="js/tool-bar.js"></script>
<script src="js/animation.js"></script>
<script src="js/util.js"></script>
<script>
    class timeShow {
        timeInterval;
        target;

        constructor() {
            this.target = document.querySelector(".index-time-show");
            this.update.call(this);
            this.timeInterval = setInterval(this.update.bind(this), 1000);
        }

        update() {
            let time = new Date();
            let hour = time.getHours().toString().padStart(2, '0');
            let minute = time.getMinutes().toString().padStart(2, '0');
            let second = time.getSeconds().toString().padStart(2, '0');
            this.target.innerHTML = `${hour}:${minute}:${second}`;
        }
    }

    const time_show = new timeShow();
    // 加载一言
    fetch("http://v1.hitokoto.cn")
        .then(async data => {
            let data_json = await data.json();
            document.querySelector(".one-word-content").innerHTML = "「 " + data_json["hitokoto"] + " 」<br/>";
            document.querySelector(".one-word-author").innerHTML = data_json["from"];
        })
        .catch(err => {
            document.querySelector(".one-word-content").innerHTML = "今天没有一言";
            document.querySelector(".one-word-author").innerHTML = "小龙小窝";
            console.log(err);
        })
    // 调整页面
    if (window.innerHeight > document.querySelector(".index-page").offsetHeight - 50) {
        document.querySelector(".index-page").style.height = window.innerHeight - 50 + "px";
    }
</script>
</body>
</html>